<div class="grid-container">
<div class="row" *ngFor="let line of gridState; let indexX = index">
  <div class="col nopadding" *ngFor="let cell of gridState[indexX]; let indexY = index">
    <app-cell [state]="cell" [aliveCellColor]="livingCellColor" [aliveCellShape]="livingCellShape" (click)="toggleCellState(indexX, indexY)"></app-cell>
  </div>
</div>
</div>

