.thumbnail {
  border: 1px solid;
  cursor: pointer;
  height: 1.2rem;
  margin: 0.1rem;
}

.alive {
  background-color: black;
}

.black {
  background-color: black;
}

.blue {
  background-color: rgb(43, 0, 255);
}

.purple {
  background-color: #673ab7;
}

.pink {
  background-color: rgb(210, 114, 241);
}

.round {
  border-radius: 0.5rem;
}
