<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #drawer class="sidenav-drawer light-background" fixedInViewport="true" mode="push">
    <mat-toolbar class="accent header" color="primary">
      <span>Select Settings</span>
    </mat-toolbar>
    <div class="sidenav-options">
      <div class="sidenav-option-element">
        <mat-label>Select live cells color</mat-label>
        <mat-select (selectionChange)="selectedColor($event)" placeholder="Select color">
          <mat-option class="light-background" *ngFor="let color of colors" [value]="color">
            {{color | uppercase}}
          </mat-option>
        </mat-select>
      </div>
      <div class="sidenav-option-element">
        <div>Live Cells Probability %</div>
        <mat-slider min="1" max="10" step="1" value="1" color="primary" tickInterval="9"
          (input)="getProbabilityValue($event)">
        </mat-slider>
      </div>
      <div class="sidenav-option-element">
        <mat-label>Select live cells shape</mat-label>
        <mat-select (selectionChange)="selectedShape($event)" placeholder="Select shape">
          <mat-option class="light-background" *ngFor="let shape of shapes" [value]="shape">
            {{shape | uppercase}}
          </mat-option>
        </mat-select>
      </div>
      <div>
        <button mat-raised-button class="header-button" (click)="drawer.toggle()">OK</button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="accent header" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span matTooltip="A game of life, death and resurrection of cells, which follows three main rules:
      1. If a dead cell has three live neighbors, it becomes alive
      2. If a living cell has more than three or less then two live neighbors, it becomes dead
      3. In all other cases the cell stays as it was in the previous generation" matTooltipPosition="after">Conway's
        Game Of Life</span>
      <span class="fill-space"></span>
      <button mat-raised-button class="header-button"
        (click)="toggleCustomPlay()" [disabled]="isRandomPlayInProgress">{{ this.startCustomPlayButtonText }}</button>
      <button mat-raised-button class="header-button"
        (click)="toggleRandomPlay()" [disabled]="isCustomPlayInProgress">{{ this.startRandomPlayButtonText }}</button>
      <button mat-raised-button class="header-button" [disabled]='isRandomPlayInProgress || isCustomPlayInProgress'
        (click)="clearLiveCells()">{{ this.clearLiveCellsButtonText }}</button>
    </mat-toolbar>

    <app-cell-grid [isRandomGenerationInProgress]="isRandomPlayInProgress"
      [isCustomGenerationInProgress]="isCustomPlayInProgress" [livingCellColor]="aliveCellColor" [livingCellShape]="aliveCellShape"
      [removeLiveCells$]="clearGrid" [setLiveCellsProbabilityValue$]="setProbability"></app-cell-grid>
  </mat-sidenav-content>
</mat-sidenav-container>
