$light-purple:  rgb(149, 115, 208);

.sidenav-container {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  width: 100%;
  padding: 1rem;
}

.sidenav-drawer {
  width: 15rem;
  border-bottom: 0.1rem solid;
}

mat-toolbar {
  margin-bottom: 1rem;
}

.fill-space {
  flex: 1 1 auto;
}

.header-button {
  margin-left: 1rem;
}

.sidenav-options {
  flex: 1 1 auto;
  margin: 0.5rem;
}

.sidenav-option-element {
  margin: 1rem;
}

::ng-deep .mat-selected {
  color: black !important;
  background-color: $light-purple !important;
}

::ng-deep .mat-tooltip {
  background-color: $light-purple !important;
  font-size: 1rem !important;
  white-space: pre-wrap !important;
}
