@import '~bootstrap/dist/css/bootstrap.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.light-background {
  background-color: rgba(211, 195, 247, 0.5);
}
